
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">

    <title>TinyApp</title>
  </head>

<header>
  <%- include("partials/_header"); -%>
</header>

<body style="font-size:20px; padding:50px; background-color:#5A7247">

    <h3>ShortURL: <i class="terminal icon"></i>
      <strong><%= shortURL %></strong>
    </h3>

    <form method="POST" id="edit-longFORM" action="/urls/<%= shortURL %>/update">
      <label for="edit-longURL"></label>
        <input type="text" name="<%= shortURL %>" placeholder="<%= longURL %>">

      <button class="ui black button" type="submit" form="edit-longFORM"><i class="paper plane icon"></i><i
          class="edit icon"></i> Set
        Update</button>
    </form>

<button class="ui black button"><a href="/urls"><i class="archive icon"></i> Main Page...</a></button>

</body>

</html>