
<!DOCTYPE html>
<html lang="en">

 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Semantic UI -  CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"">

    <title>TinyApp</title>
  </head>

  <header style="background-color:#5A7247">
    <%- include("partials/_header"); -%>
  </header>


  <body style="font-size:20px; padding:50px; background-color:#5A7247">

<% if (userName) { %>
    <h1>Here are your short urls:</h1>
    <form method="GET" action="/urls/new">
    <i class="code icon"></i><input type="submit" value="create a tinyURL">
    </form>

    <% for (let url in urls) { %>
    <% let shortURL = url;  %>
    <% let longURL = urls[shortURL] %>
    <ul>
      <!-- <li>Long: <%= longURL %></li> -->
      <li>tiny URL: <i class="terminal icon"></i>
        <a href="/urls/<%=shortURL %>" > <%= shortURL %> </a> 
        <ul>
          <li> <i class="linkify icon"></i> URL: <%= longURL %> </li>
        </ul>
      </li>

    
      <a href='/urls/<%=shortURL %>'>Edit Source URL</a>

    <form method="POST" action="/urls/<%= shortURL %>/delete">
    <i class="trash icon"></i><input name="<%= shortURL %>" type="submit" value="Delete">
    </form>


    </ul>
    <% } %>


<% } else { %>
  <h2>Shorten your long URLs to short & readable links. </h2>
<% } %>

  </body>

</html>