
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
  </head>

<header>
  <%- include("partials/_header"); -%>
</header>

<body style="font-size:20px; padding:50px;">

    <h3>ShortURL: 
      <strong><%= shortURL %></strong>
    </h3>

    <form method="POST" id="edit-longFORM" action="/urls/<%= shortURL %>/update">
      <label for="edit-longURL"></label>
        <input type="text" name="<%= shortURL %>" placeholder="<%= longURL %>">

      <button type="submit" form="edit-longFORM">Set Update</button>
    </form>

<button><a href="/urls">Main Page...</a></button>

</body>

</html>